<%= simple_form_for @venda do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.label 'Documentos' %>
    <%= f.file_field :documents, multiple: true %>
  </div>
  <br />

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
