<div class="jumbotron">
  <h2>Desafio de programação</h2>
  Importe dados para lista de tabela de vendas

  <p></p>
</div>
<a class="btn-primary btn" href="<%= root_url %>sales.csv"> Sample Download</a>
 
 <% if flash['notice']  %>
  <p><div class="alert alert-success"><b><%= flash['notice'] %></b></div></p>
<% end %>
<table class="table table-striped">

    <thead>
      <tr>
        <th>Purchaser Name</th>
        <th>Item Description</th>
        <th>item Price</th>
        <th>Purchase Count</th>
        <th>Merchant Address</th>
        <th>Merchant Name</th>
      </tr>
    </thead>
    <tbody>
      <% @vendas.each do |vendas| %>
      <tr>
        <td><%= vendas.purchaser_name %></td>
        <td><%= vendas.item_description %></td>
        <td><%= vendas.item_price %></td>
        <td><%= vendas.purchase_count %></td>
        <td><%= vendas.merchant_address %></td>
        <td><%= vendas.merchant_name %></td>

      </tr>
      <% end %>

    </tbody>
  </table>
